/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #F9D9C5;
    padding: 20px;
    text-align: center;
    background-image: url("img/boca.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFDD0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav li a:hover {
    background-color: #FFFDD0;
}

section {
    padding: 50px;
    text-align: center;
    background-color: #F9D9C5;
    
}

h2 {
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

ul {
    margin-top: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #FFFDD0;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

/* Estilos específicos */
#biografia *{

    background-color: #F9D9C5;
}

#biografia img {

    width: 150px;
    height: 150px;

    border-radius: 50%;
}

#biografia p {
    margin-bottom: 20px;
    
   
    
}

#proyectos .proyecto {
    margin-bottom: 30px;
    background-color: #FFFDD0;
}

#proyectos img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#habilidades ul {
    column-count: 3;
}

#contacto ul {
    margin-top: 10px;
}

#contacto ul li {
    margin-bottom: 5px;
}
